{% extends 'base.html.twig' %}



{% block body %}
    <body>
    <!-- preloader start here -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- preloader ending here -->

    <!-- scrollToTop start here -->
    <a href="#" class="scrollToTop"><i class="icofont-rounded-up"></i></a>
    <!-- scrollToTop ending here -->

    <!-- ==========shape image Starts Here========== -->
    <div class="body-shape">
        <img src="assets/images/shape/body-shape.png" alt="shape">
    </div>
    <!-- ==========shape image end Here========== -->




    <!-- ===========Banner Section start Here========== -->
    <section class="pageheader-section" style="background-image: url(assets/images/pageheader/bg.jpg);">
        <div class="container">
            <div class="section-wrapper text-center text-uppercase">
                <h2 class="pageheader-title">Serenity hassir taken posseson...</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">blog Details</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>
    <!-- ===========Banner Section Ends Here========== -->


    <a class="btn btn-danger" href="{{ path('addpubF')}}">add</a>
    <!-- ===========Blog Section Start Here========== -->
    {% for i in publication %}
        <div class="blog-section blog-single padding-top padding-bottom aside-bg">
            <div class="container">
                <div class="section-wrapper">

                    <div class="col-lg-8 col-12">
                        <article>
                            <div class="post-item-2">
                                <div class="post-inner">
                                    <div class="post-thumb">
                                        <img src="assets/images/blog/single/01.jpg" alt="blog">
                                    </div>
                                    <div class="post-content">
                                        <h2>{{ i.titre }}</h2>
                                        <ul class="lab-ul post-date">
                                            <li><span><i class="icofont-ui-calendar"></i> October 9, 2021 10:59 am
												</span></li>
                                            <li><span><i class="icofont-user"></i><a href="#">Rajib Raj</a></span>
                                            </li>
                                            <li><span><i class="icofont-speech-comments"></i><a href="#">09 Comments</a></span></li>
                                        </ul>
                                        <p>{{ i.status }}</p>
                                        <a class="btn btn-danger" href="{{ path('df',{'id':i.getid_publication})}}">delete</a>
                                        <a class="btn btn-danger" href="{{ path('updatepF',{'id':i.getid_publication})}}">update</a>
                                        <a class="btn btn-danger" href="{{ path('listecomF',{'id':i.getid_publication})}}">show comments</a>



                                    </div>
                                </div>




                            <!-- ===========Blog Section Ends Here========== -->




                            <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
                            <script>
                                window.ga = function () {
                                    ga.q.push(arguments)
                                };
                                ga.q = [];
                                ga.l = +new Date;
                                ga('create', 'UA-XXXXX-Y', 'auto');
                                ga('set', 'anonymizeIp', true);
                                ga('set', 'transport', 'beacon');
                                ga('send', 'pageview')
                            </script>
                            <script src="https://www.google-analytics.com/analytics.js" async></script>


</div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        </body>
    {% endfor %}

{% endblock %}